@tailwind base;
@tailwind components;
@tailwind utilities;



.ql-editor {
    min-height: 70vh;
}

.ql-container {
    border-bottom: none !important;
}
/* .bgg {
    background-image: url('/bg.png');
    background-repeat: repeat;
} */